{% extends "construction/nav_footer.html" %}
{% load static %}

{% block body %}
    <!-- End Bradcaump area -->
    <!-- Start Blog Area -->
    <section class="htc__blog__details__page blog--details ptb--150 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-md-13 col-lg-13 col-sm-12 col-xs-12">
                    <div class="htc__bl__dtl__inner">
                        <div class="blog__inner">
                            <div class="blog__thumb">
                                <a href="/blog-details">
                                    <img src="{{ post.image.url }}" alt="blog image">
                                </a>
                                <div class="blog__hover__info">
                                    <ul class="blog__meta">
                                        <li>By : <a href="#">{{ post.author }}</a></li>
                                        <li>{{ post.date_published }}</li>
                                        <li><a href="#">Comments {{ post.comments.count }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="htc__blog__details">
                                <h2>{{ post.title }}</h2>
                                <div class="bl__dtl">
                                    {{ post.formatted_content | safe }}
                                </div>
                                <blockquote>{{ post.quote }}</blockquote>
                                <div class="bl__dtl">
                                    {{ post.additional_content | safe }}
                                </div>
                            </div>
                        </div>
                        <!-- Start Blog Comment -->
                        <div class="htc__comment__area">
                            <h2 class="title__line--3">COMMENTS</h2>
                            <div class="htc__comment__inner">
                                {% for comment in post.comments.all %}
                                    <!-- Display comments here -->
                                    <div class="single__comment">
                                        <div class="bl__comment__details">
                                            <div class="bl__comment__meta">
                                                <h2><a href="#">{{ comment.name }}</a></h2>
                                                <span>{{ comment.timestamp|date:"F d, Y H:i A" }}</span>
                                            </div>
                                            <p>{{ comment.message }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Blog Comment -->
                        <!-- Start Blog Comment Form -->
                        <div class="bl__comment__form">
                            <h2 class="title__line--3">LEAVE A REPLY</h2>
                            <div class="bl__form__inner">
                                <form method="post" action="{% url 'construction:blog_details' pk=post.id %}">
                                    {% csrf_token %}
                                    <div class="single__form">
                                        <div class="bl__input__box">
                                            <span>Name*</span>
                                            <input type="text" name="name" required>
                                        </div>
                                        <div class="bl__input__box">
                                            <span>Email*</span>
                                            <input type="email" name="email" required>
                                        </div>
                                        <div class="bl__input__box">
                                            <span>Subject</span>
                                            <input type="text" name="subject">
                                        </div>
                                    </div>
                                    <div class="single__form message">
                                        <span>Message*</span>
                                        <textarea name="message" required></textarea>
                                    </div>
                                    <div class="bl__comnt__btn">
                                        <button type="submit" class="htc__btn">SEND NOW</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Blog Comment Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Area -->
    <!-- Start Newsletter Area -->
{% endblock body %}
