{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}
        <!-- End Bradcaump area -->
        <!-- Start Blog Area -->
        <section class="htc__blog__area ptb--150 bg__white">
            <div class="container">
                <div class="row">
                    <div class="htc__blog__wrap clearfix blog--two">
                        <!-- Start Single Blog -->
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="blog-details.html">
                                        <img src="{% static 'construction/images/blog/bl-2/1.jpg'%}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="/blog-details">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod trouble that are bound to ensue</a></h2>
                                    <div class="blog__btn">
                                        <a href="/blog-details">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="/blog-details">
                                        <img src="{% static 'construction/images/blog/bl-2/2.jpg'%}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="/blog-details">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod trouble that are bound to ensue </a></h2>
                                    <div class="blog__btn">
                                        <a href="/blog-details">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="blog-details.html">
                                        <img src="{% static 'construction/images/blog/bl-2/3.jpg'%}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="/blog-details">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod trouble that are bound to ensue </a></h2>
                                    <div class="blog__btn">
                                        <a href="/blog-details">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="/blog-details">
                                        <img src="{% static 'construction/images/blog/bl-2/4.jpg'%}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="/blog-details">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod trouble that are bound to ensue </a></h2>
                                    <div class="blog__btn">
                                        <a href="/blog-details">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="/blog-details">
                                        <img src="{% static 'construction/images/blog/bl-2/5.jpg'%}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="/blog-details">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod trouble that are bound to ensue </a></h2>
                                    <div class="blog__btn">
                                        <a href="/blog-details">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="/blog-details">
                                        <img src="{% static 'construction/images/blog/bl-2/6.jpg'%}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="/blog-details">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod trouble that are bound to ensue </a></h2>
                                    <div class="blog__btn">
                                        <a href="/blog-details">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->
        {% endblock body %}