{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}


    <section class="htc__offer__area htc__offer--2 pb--120 bg__gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.hdfc.com/content/dam/housingdevelopmentfinancecorp/home-page/images/Home-Loan-Desktop-Banner-716-x-298-with-Logo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><b>HDFC HOUSING LOANS</b></h5>
                          <p class="card-text"></p>
                          <a href="https://www.hdfc.com/housing-loans" target="_blank" class="btn btn-primary">More Info</a>
                          
                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                    <div class="offer separator">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.icicibank.com/content/dam/icicibank/india/managed-assets/images/blog/home-loan-vs-construction-loan-d.webp" width=270px class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><b>ICICI HOME LOANS<b></h5>
                              <p class="card-text"></p>
                              <a href="https://www.icicibank.com/personal-banking/loans/home-loan" target="_blank" class="btn btn-primary">More Info</a>
                              
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">
                    <div class="offer separator">
                        <div class="card" style="width: 18rem;">
                            <img src="https://pbs.twimg.com/media/DlvaIBzUcAEq42t.jpg" width=245px class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"><b>SBI HOME LOANS<b></h5>
                              <p class="card-text"></p>
                              <a href="https://homeloans.sbi/" target="_blank" class="btn btn-primary">More Info</a>
                              
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h1__offer__image">
            <img src="{% static 'construction/others/3.png' %}" alt="">
        </div>
    </section>


{% endblock body %}




