{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url(images/bg/5.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">GALLERY</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="index.html">Home</a>
                                  <span class="brd-separetor">-</span>
                                  <span class="breadcrumb-item active">GALLERY</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->


        <!-- Start Latest Project Area -->
<!-- gallery.html -->

    <div class="htc__latest__project__area pb--150 ptb--120 bg__white">
        <div class="container">
            <div class="row">
                {% for project in projects %}
                    <div class="col-md-12" style="margin-bottom: 3rem;">
                        <h2>{{ project.title }}</h2>
                        <div class="row">
                            {% for image in project.projectimage_set.all %}
                                <div class="col-md-3">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="{% url 'construction:project_detail' pk=project.id %}">
                                                <img src="{{ image.image.url }}" alt="{{ project.title }}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


        <!-- End Latest Project Area -->





        {% endblock body %}