{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}

        <!-- Start Latest Project Area -->
        <div class="htc__latest__project__area pb--150 ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="htc__latest__project__wrap h1__project clearfix">
                        <!-- Start Single Project -->
                        <div class="col-md-5 col-lg-5 hidden-sm col-xs-12">
                            <div class="project__itm foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/lst-project-3/1.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION PRE WORK</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="/single-project">
                                                <img src="{% static 'construction/images/lst-project-3/2.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="/single-project">
                                                <img src="{% static 'construction/images/lst-project-3/3.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="/single-project">
                                                <img src="{% static 'construction/images/lst-project-3/4.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="/single-project">
                                                <img src="{% static 'construction/images/lst-project-3/5.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="/single-project">
                                                <img src="{% static 'construction/images/lst-project-3/2.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="/single-project">
                                                <img src="{% static 'construction/images/lst-project-3/3.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="/single-project">
                                                <img src="{% static 'construction/images/lst-project-3/4.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="/single-project">
                                                <img src="{% static 'construction/images/lst-project-3/5.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-5 hidden-sm col-xs-12">
                            <div class="project__itm foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/lst-project-3/1.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION PRE WORK</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Latest Project Area -->
        <!-- Start Newsletter Area -->
        {% endblock body %}