{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}
        <!-- Start Slider Area -->
        <div class="slider__container">
            <div class="slider__activation__wrap owl-carousel owl-theme">
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slide__align--center" style="background: rgba(0, 0, 0, 0) url('/static/construction/images/slider/bg/1.jpg') no-repeat scroll 0 0 / cover;" data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>SINCE 1953</h4>
                                    <h1>WE BUILD THE TRUST</h1>
                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                                    <div class="slider__btn">
                                        <a class="htc__btn" href="contact.html">CONTACT US</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="htc__slider__fornt__img">
                        <img src="{% static 'construction/images/slider/fornt-img/1.png' %}" alt="slider images">
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slide__align--center" style="background: rgba(0, 0, 0, 0) url('/static/construction/images/slider/bg/2.jpg') no-repeat scroll 0 0 / cover;" data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>SINCE 1953</h4>
                                    <h1>WE BUILD THE TRUST</h1>
                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                                    <div class="slider__btn">
                                        <a class="htc__btn" href="contact.html">CONTACT US</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="htc__slider__fornt__img">
                        <img src="{% static 'construction/images/slider/fornt-img/1.png' %}" alt="slider images">
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>
        </div>
        <!-- Start Slider Area -->
        <!-- Start Offer Area -->
        <section class="htc__offer__area htc__offer--2 pb--120 bg__gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="offer">
                            <div class="offer__icon">
                                <img src="{% static 'construction/images/others/icon-2/1.png' %}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">TOP RATED</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                        <div class="offer separator">
                            <div class="offer__icon">
                                <img src="{% static 'construction/images/others/icon-2/2.png' %}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">BEST QUALITY</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">
                        <div class="offer separator">
                            <div class="offer__icon">
                                <img src="{% static 'construction/images/others/icon-2/3.png' %}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">LOW COST</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h1__offer__image">
                <img src="{% static 'construction/others/3.png' %}" alt="">
            </div>
        </section>
        <!-- End Offer Area -->
        <!-- Start About Area -->
        <section class="htc__about__area about--2 text__pos ptb--150 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">ABOUT <span class="text--theme">SIMPLY</span></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                        </div>
                    </div>
                </div>
                <div class="row mt--70">
                    <div class="col-md-4 col-lg-3 col-lg-offset-1 col-sm-6 col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="about.html">OUR STORY</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'construction/images/others/icon/1.png' %}" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a href="about.html">OUR STORY</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'construction/images/others/icon/1.png' %}" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="about.html">ABOUT US</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'construction/images/others/icon/2.png' %}" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info active">
                                <h2><a href="about.html">ABOUT US</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'construction/images/others/icon/1.png' %}" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 hidden-sm col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="about.html">OUR CERTIFICATE</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'construction/images/others/icon/3.png' %}" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a href="about.html">OUR CERTIFICATE</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce with</p>
                                <div class="about__btn">
                                    <a href="about.html">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="{% static 'construction/images/others/icon/3.png' %}" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text__shape">
                <h2>SIMPLY</h2>
            </div>
        </section>
        <!-- End About Area -->
        <!-- start About Area -->
        <section class="htc__service__area service--2 bg__gray">
            <div class="container-fluid">
                <div class="row">
                    <div class="service__section__wrap clearfix">
                        <!-- Start Single Service -->
                        <div class="col-md-5 col-lg-4 col-sm-12 col-xs-12">
                            <div class="service__thumb">
                                <img src="{% static 'construction/images/about/2.jpg' %}" alt="about image">
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <div class="col-md-7 col-lg-8 col-sm-12 col-xs-12 h1__service pt--40 pb--30">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="section__title text-left">
                                        <h2 class="title__line">OUR <span class="text--theme">SERVICES</span></h2>
                                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Start Single Service -->
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a href="single-service.html">
                                                <img src="{% static 'construction/images/service/1.jpg' %}" alt="service images">
                                            </a>
                                            <div class="service__hover">
                                                <div class="service__action">
                                                    <a href="single-service.html">DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service__details">
                                            <h2><a href="single-service.html">CONSTRUCTION</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a href="single-service.html">
                                                <img src="{% static 'construction/images/service/2.jpg' %}" alt="service images">
                                            </a>
                                            <div class="service__hover">
                                                <div class="service__action">
                                                    <a href="single-service.html">DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service__details">
                                            <h2><a href="single-service.html">RENOVATION</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->
                                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                    <div class="service">
                                        <div class="service__thumb">
                                            <a href="single-service.html">
                                                <img src="{% static 'construction/images/service/3.jpg' %}" alt="service images">
                                            </a>
                                            <div class="service__hover">
                                                <div class="service__action">
                                                    <a href="single-service.html">DETAILS</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service__details">
                                            <h2><a href="single-service.html">ARCHITECTURE</a></h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->
        <!-- Start Latest Project Area -->
        <section class="htc__latest__project__area ptb--150 bg__white text__pos">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">LATEST <span class="text--theme">PROJECTS</span></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="htc__latest__project__wrap h1__project clearfix mt--30">
                        <!-- Start Single Project -->
                        <div class="col-md-5 col-lg-5 hidden-sm col-xs-12">
                            <div class="project__itm foo">
                                <div class="project__thumb">
                                    <a href="single-project.html">
                                        <img src="{% static 'construction/images/lst-project-3/1.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="single-project.html">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="single-project.html">
                                                <img src="{% static 'construction/images/lst-project-3/2.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="single-project.html">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="single-project.html">
                                                <img src="{% static 'construction/images/lst-project-3/3.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="single-project.html">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="single-project.html">
                                                <img src="{% static 'construction/images/lst-project-3/4.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="single-project.html">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="project__itm foo">
                                        <div class="project__thumb">
                                            <a href="single-project.html">
                                                <img src="{% static 'construction/images/lst-project-3/5.jpg' %}" alt="project images">
                                            </a>
                                            <div class="project__hover__info">
                                                <div class="project__action">
                                                    <h2><a href="single-project.html">CONSTRUCTION</a></h2>
                                                    <h4>DURATION : 6 MONTH</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text__shape">
                <h2>PROJECTS</h2>
            </div>
        </section>
        <!-- End Latest Project Area -->
          <!-- Start Counter Up Area -->
          <section class="htc__counterup__area count--2 h1__countdown bg__gray">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="counterup__left__thumb">
                            <img src="{% static 'construction/images/about/4.png' %}" alt="images">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="htc__callto__action">
                            <h2># OUR <span class="text--theme">CONSTRUCTION</span> EXPERIENCE</h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble</p>
                            <div class="htc__call__btn">
                                <a class="htc__btn" href="#">CONTACT US</a>
                            </div>
                        </div>
                        <div class="htc__counterup__wrap" style="background: rgba(0, 0, 0, 0) url('/static/construction/images/bg/10.png') no-repeat scroll center center / cover ;">
                            <!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">598</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>PROJECTS</h2>
                                    </div>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
                            <!-- Start Single Fact -->
                            <div class="funfact hidden-md">
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">128</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>CLIENTS</h2>
                                    </div>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
                            <!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">339</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>SUCCESS</h2>
                                    </div>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
                            <!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">109</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>AWARDS</h2>
                                    </div>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Counter Up Area -->
        <!-- Start Team Area -->
        <section class="htc__team__area bg__white h1__team--one ptb--150 text__pos">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">OUR <span class="text--theme">TEAM</span></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="htc__team__wrap clearfix mt--30">
                        <!-- Start Single Team -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="team foo">
                                <div class="team__inner">
                                    <div class="team__thumb">
                                        <img src="{% static 'construction/images/team/1.jpg' %}" alt="team image">
                                    </div>
                                    <div class="team__hover__info">
                                        <ul class="team__social__link">
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team__details">
                                    <h2><a href="#">STAWART SMITH</a></h2>
                                    <h4>Chief Engineer</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                        <!-- Start Single Team -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="team foo">
                                <div class="team__inner">
                                    <div class="team__thumb">
                                        <img src="{% static 'construction/images/team/2.jpg' %}" alt="team image">
                                    </div>
                                    <div class="team__hover__info">
                                        <ul class="team__social__link">
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team__details">
                                    <h2><a href="#">KALVIN MOMEN</a></h2>
                                    <h4>KALVIN MOMEN</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                        <!-- Start Single Team -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="team foo">
                                <div class="team__inner">
                                    <div class="team__thumb">
                                        <img src="{% static 'construction/images/team/3.jpg' %}" alt="team image">
                                    </div>
                                    <div class="team__hover__info">
                                        <ul class="team__social__link">
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team__details">
                                    <h2><a href="#">ANDREW SIMONS</a></h2>
                                    <h4>Chief Electicians</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                        <!-- Start Single Team -->
                        <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                            <div class="team foo">
                                <div class="team__inner">
                                    <div class="team__thumb">
                                        <img src="{% static 'construction/images/team/4.jpg' %}" alt="team image">
                                    </div>
                                    <div class="team__hover__info">
                                        <ul class="team__social__link">
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team__details">
                                    <h2><a href="#">MARK TAYLOR</a></h2>
                                    <h4>Chief Engineer</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Team -->
                    </div>
                </div>
            </div>
            <div class="text__shape">
                <h2>TEAM</h2>
            </div>
        </section>
        <!-- End Team Area -->
      <!-- Start Testimonial Area -->
      <section class="htc__testimonial__area ptb--130" data--gray__overlay="9.5" style="background: rgba(0, 0, 0, 0) url('/static/construction/images/bg/1.jpg') no-repeat fixed center center / cover ;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">
                    <div class="htc__testimonial__wrap">
                        <div class="section__title text-left">
                            <h2 class="title__line">CLIENTS <span class="text--theme">SAYS</span></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasur</p>
                        </div>
                        <div class="testimonial__activation clearfix">
                             <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <div class="testimonial__thumb">
                                     <img src="{% static 'construction/images/test/client/1.jpg' %}" alt="clint image">
                                </div>
                                <div class="testimonial__details">
                                    <div class="tes__icon">
                                        <i class="fa fa-quote-right"></i>
                                    </div>
                                    <p>On the other hand, we denounce with righteous indignation and the tdislike men who are beguiled </p>
                                    <h2><a href="#">Person Name</a></h2>
                                    <h4>CEO</h4>
                                </div>
                            </div>
                             <!-- End Single Testimonial -->
                             <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <div class="testimonial__thumb">
                                     <img src="{% static 'construction/images/test/client/1.jpg' %}" alt="clint image">
                                </div>
                                <div class="testimonial__details">
                                    <div class="tes__icon">
                                        <i class="fa fa-quote-right"></i>
                                    </div>
                                    <p>On the other hand, we denounce with righteous indignation and the tdislike men who are beguiled </p>
                                    <h2><a href="#">Person Name</a></h2>
                                    <h4>CEO</h4>
                                </div>
                            </div>
                             <!-- End Single Testimonial -->
                             <!-- Start Single Testimonial -->
                            <div class="testimonial">
                                <div class="testimonial__thumb">
                                     <img src="{% static 'construction/images/test/client/1.jpg' %}" alt="clint image">
                                </div>
                                <div class="testimonial__details">
                                    <div class="tes__icon">
                                        <i class="fa fa-quote-right"></i>
                                    </div>
                                    <p>On the other hand, we denounce with righteous indignation and the tdislike men who are beguiled </p>
                                    <h2><a href="#">Person Name</a></h2>
                                    <h4>CEO</h4>
                                </div>
                            </div>
                             <!-- End Single Testimonial -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6  col-lg-offset-1 col-sm-12 col-xs-12 smt-40">
                    <div class="reguest__quote">
                        <div class="section__title text-left">
                            <h2 class="title__line">REQUEST A <span class="text--theme">QUOTE</span></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasur</p>
                        </div>
                        <form id="contact-form" method="post">
                            {% csrf_token %}
                            <div class="clint__comment__form">
                                <div class="single__cl__form">
                                    <input name="name" type="text" placeholder="Name">
                                    <input name="email" type="email" placeholder="Email">
                                </div>
                                <div class="single__cl__message">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                                <div class="single__cl__form">
                                    <select name="category" class="form-select">
                                        <option value="" selected disabled>Select Category</option>
                                        <option value="Residential">Residential</option>
                                        <option value="Industrial">Industrial</option>
                                        <option value="Commercial">Commercial</option>
                                    </select>
                                </div>
                                <div class="clint__submit__btn">
                                    <button class="submit htc__btn" type="submit">
                                        SEND MESSAGE 
                                    </button>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Area -->
        <!-- Start Blog Area -->
        <section class="htc__blog__area pt--150 bg__white">
            <div class="container">
                <div class="row">
                    <div class="section__title text-center">
                        <h2 class="title__line">LATEST <span class="text--theme">BLOG</span></h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                    </div>
                </div>
                <div class="row">
                    <div class="htc__blog__wrap mt--30 clearfix">
                        <!-- Start Single Blog -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="blog-details.html">
                                        <img src="{% static 'construction/images/blog/blog-img/1.jpg' %}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="blog-details.html">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod </a></h2>
                                    <div class="blog__btn">
                                        <a href="blog-details.html">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="blog-details.html">
                                        <img src="{% static 'construction/images/blog/blog-img/2.jpg' %}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="blog-details.html">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod </a></h2>
                                    <div class="blog__btn">
                                        <a href="blog-details.html">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                        <!-- Start Single Blog -->
                        <div class="col-md-4 col-lg-4 hidden-sm col-xs-12">
                            <div class="blog foo">
                                <div class="blog__thumb">
                                    <a href="blog-details.html">
                                        <img src="{% static 'construction/images/blog/blog-img/3.jpg' %}" alt="blog image">
                                    </a>
                                    <div class="blog__hover__info">
                                        <ul class="blog__meta">
                                            <li>By : <a href="#">Kalvin</a></li>
                                            <li>20 July</li>
                                            <li><a href="#">Comments 5</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog__details">
                                    <h2><a href="blog-details.html">Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod </a></h2>
                                    <div class="blog__btn">
                                        <a href="blog-details.html">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Blog -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->
        <!-- Start Blog Area -->
        <div class="htc__brand__area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="brand__list">
                            <li><a href="#"><img src="{% static 'construction/images/brand/1.jpg' %}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{% static 'construction/images/brand/2.jpg' %}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{% static 'construction/images/brand/3.jpg' %}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{% static 'construction/images/brand/4.jpg' %}" alt="brand images"></a></li>
                            <li><a href="#"><img src="{% static 'construction/images/brand/5.jpg' %}" alt="brand images"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Area -->

        {% endblock body %}
  