{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ps Construction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'construction/images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'construction/apple-touch-icon.png' %}">

    <!-- All css files are included here. -->
    <!-- Bootstrap framework main css -->
    <link rel="stylesheet" href="{% static 'construction/css/bootstrap.min.css' %}">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" href="{% static 'construction/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'construction/css/owl.theme.default.min.css' %}">
    <!-- This core.css file contains all plugins css files. -->
    <link rel="stylesheet" href="{% static 'construction/css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'construction/css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'construction/css/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'construction/css/responsive.css' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'construction/css/custom.css' %}">


</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <div id="header" class="htc-header">
            <!-- Start Header Top -->
            <div class="htc__header__top bg__cat--1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <ul class="heaher__top__left">
                                <li><i class="fa fa-clock-o"></i>7.30 AM  -  9.30 PM</li>
                                <li><a href="#"><i class="fa fa-phone"></i>(91) 999 999 9999 </a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="header__top__right">
                                <ul class="login-register">
                                    <li><a href="login-register.html">LOGIN</a></li>
                                    <li class="separator">/</li>
                                    <li><a href="login-register.html">REGISTER</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-7">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="{% static 'construction/images/logo/ps logo.png' %}" alt="logo image">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-5">
                            <nav class="main__menu__nav  hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li><a href="/">HOME</a></li>
                                    <li><a href="/about">ABOUT</a></li>
                                    <li><a href="#">SERVICES</a></li>
                                    <li><a href="/gallery">GALLERY</a></li>
                                    <li class="drop"><a href="#">PROJECTS</a>
                                        <ul class="dropdown" aria-labelledby="dropdownMenu1">
                                            <li><a href="#projects-one.html">Completed</a></li>
                                            <li class="drop">
                                                <a tabindex="-1" class="test" href="#projects-two.html">Ongoing</a>
                                                <ul class="dropdown-menu dropdown-toggle" style="display: block; left: 100%;position: absolute; top: 0">
                                                    <li><a tabindex="-1" href="#">Submenu 1</a></li>
                                                    <li><a tabindex="-1" href="#">Submenu 2</a></li>
                                                    <li><a tabindex="-1" href="#">Submenu 3</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="projects-three.html">Upcoming</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">BLOG</a></li>
                                    <li><a href="/contact">CONTACT</a></li>
                                    <li><a href="#Emi Calculator">Emi Calculator</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li><a href="/">HOME</a></li>
                                        <li><a href="/about">ABOUT</a></li>
                                        <li><a href="#">SERVICES</a></li>
                                        <li><a href="/gallery">GALLERY</a></li>
                                        <li><a href="#">PROJECTS</a>
                                            <ul>
                                                <li><a href="#projects-one.html">Completed</a></li>
                                                <li><a href="#projects-two.html">Ongoing</a>
                                                    <ul>
                                                        <li><a href="#">Submenu one</a></li>
                                                        <li><a href="#">Submenu two</a></li>
                                                        <li><a href="#">Submenu three</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="projects-three.html">Upcoming</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#blog">BLOG</a>
                                        <li><a href="/contact">CONTACT</a></li>
                                        <li><a href="#Emi Calculator">Emi Calculator</a></li>
                                    </ul>
                                </nav>
                            </div> 
                        </div>
                        <div class="col-md-2 col-sm-6 hidden-xs">
                            <div class="htc__header__search">
                                <input type="text" placeholder="SEARCH">
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </div>
        <!-- End Header Style -->


        {% block body %}
        {% endblock body %}


      <!-- Start Newsletter Area -->
      <section class="htc__newsletter__area ptb--90 bg__gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="newsletter__wrap">
                        <h2 class="title__line">SUBSCRIBE <span class="text--theme">NEWSLETTER</span></h2>
                        <h4>Subscribe our newsletter and get latest update</h4>
                        <div class="newsletter__form">
                            <div class="input__box">
                                <div id="mc_embed_signup">
                                    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                            <div class="news__input">
                                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                            <div class="clearfix subscribe__btn"><input type="submit" value="SUBSCRIBE NOW" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter__thumb">
            <div class="newsletter__thumb__inner">
                <img src="{% static 'construction/images/others/1.png' %}" alt="newsletter img">
            </div>
        </div>
    </section>
    <!-- End Newsletter Area -->
    <!-- Start Contact Address -->
    <div class="htc__contact__address add-res bg__cat--1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="htc__contact__wrap clearfix">
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon map-pin">
                                <i class="zmdi zmdi-pin"></i>
                            </div>
                            <div class="ht__address__details">
                                <p>Mumbai <br>Maharashtra, INDIA</p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon glob">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <div class="ht__address__details">
                                <p><a href="#">info@example.com</a></p>
                                <p><a href="#">www.example.com</a></p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="ht__address__details">
                                <p><a href="#">+91 8888888888</a></p>
                                <p><a href="#">+91 9999999999</a></p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Address -->
    <!-- Start Footer Area -->
    <footer class="htc__footer__area">
        <div class="footer__top ptb--130" data--1f2d30__overlay="9.5" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat fixed center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="htc__footer__wrap clearfix">
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="footer foo">
                                <div class="footer__widget">
                                    <h2 class="ft__title">ABOUT</h2>
                                </div>
                                <div class="ft__details">
                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer quick__link foo">
                                <div class="footer__widget">
                                    <h2 class="ft__title">QUICK LINKS</h2>
                                </div>
                                <div class="footer__link">
                                    <ul class="ft__menu">
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="projects-one.html">Projects</a></li>
                                        <li><a href="#">Features</a></li>
                                        <li><a href="blog.html">blog</a></li>
                                    </ul>
                                    <ul class="ft__menu">
                                        <li><a href="#">Quote</a></li>
                                        <li><a href="projects-one.html">Projects</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="#">Features</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 smt-40 xmt-40">
                            <div class="footer foo">
                                <div class="footer__widget">
                                    <h2 class="ft__title">INSTAGRAM</h2>
                                </div>
                                <ul class="footer__instagram">
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/1.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/2.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/3.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/4.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/5.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/6.jpg' %}" alt="images"></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-2 col-lg-offset-1 col-sm-6 col-xs-12 smt-40 xmt-40">
                            <div class="footer foo">
                                <div class="footer__widget">
                                    <h2 class="ft__title">INQUARY</h2>
                                    <div class="footer__link">
                                        <ul class="ft__menu">
                                            <li><a href="#">Construction</a></li>
                                            <li><a href="#">Architecture</a></li>
                                            <li><a href="#">Plambing</a></li>
                                            <li><a href="#">Plambing</a></li>
                                        </ul>
                                        <ul class="ft__menu">
                                            <li><a href="#">Painting</a></li>
                                            <li><a href="#">Roofing</a></li>
                                            <li><a href="#">Plambing</a></li>
                                            <li><a href="#">Features</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright bg__theme">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyright__inner">
                            <p>Copyright <a href="#" target="_blank">PS CONSTRUCTION</a>
                            All Rights Reserved 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="{% static 'construction/js/vendor/jquery-1.12.0.min.js' %}"></script>
<!-- Bootstrap framework js -->
<script src="{% static 'construction/js/bootstrap.min.js' %}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static 'construction/js/plugins.js' %}"></script>
<script src="{% static 'construction/js/slick.min.js' %}"></script>
<script src="{% static 'construction/js/owl.carousel.min.js' %}"></script>
<!-- Waypoints.min.js. -->
<script src="{% static 'construction/js/waypoints.min.js' %}"></script>
<!-- Main js file that contains all jQuery plugins activation. -->
<script src="{% static 'construction/js/main.js' %}"></script>
</body>
</html>        
