{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ps Construction</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'construction/images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'construction/apple-touch-icon.png' %}">

    <!-- All css files are included here. -->
    <!-- Bootstrap framework main css -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" href="{% static 'construction/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'construction/css/owl.theme.default.min.css' %}">
    <!-- This core.css file contains all plugins css files. -->
    <link rel="stylesheet" href="{% static 'construction/css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'construction/css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'construction/css/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'construction/css/responsive.css' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'construction/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'construction/css/shortcode/header.css' %}">
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <div id="header" class="htc-header">
            <!-- Start Header Top -->
            <div class="htc__header__top bg__cat--1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <ul class="heaher__top__left">
                                <li><i class="fa fa-clock-o"></i>7.30 AM  -  9.30 PM</li>
                                <li><a href="#"><i class="fa fa-phone"></i>(91) 999 999 9999 </a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            <div class="header__top__right">
                                <ul class="login-register">
                                    <li><a href="/admin">LOGIN</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-7">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static 'construction/images/logo/ps logo.png' %}" alt="logo image">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-5">
                            <nav class="main__menu__nav  hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li><a href="/">HOME</a></li>
                                    <li><a href="/about">ABOUT</a></li>
                                    <li><a href="#">SERVICES</a></li>
                                    <li><a href="/gallery">GALLERY</a></li>
                                    <li class="drop"><a href="#">PROJECT</a>
                                        <ul class="dropdown" aria-labelledby="dropdownMenu1">
                                            <li class="dropp">
                                                <a href="#projects-one.html">Industrial <span style='font-size:20px;'>&#8677;</span></a>
                                                <ul class="dropdown-menu-dropdown-toggle">
                                                    <li class="dropp2">
                                                        <a tabindex="-1" href="#">COMPLETED <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in completed_industrial %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                        
                                                    </li>
                                                    <li class="dropp2"><a tabindex="-1" href="#">ONGOING <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in ongoing_industrial %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                    </li>
                                                    <li class="dropp2"><a tabindex="-1" href="#">UPCOMING <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in upcoming_industrial %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropp">
                                                <a tabindex="-1" class="test" href="#projects-two.html">Residential <span style='font-size:20px;'>&#8677;</span></a>
                                                <ul class="dropdown-menu-dropdown-toggle">
                                                    <li class="dropp2">
                                                        <a tabindex="-1" href="#">COMPLETED <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in completed_residential %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                        
                                                    </li>
                                                    <li class="dropp2"><a tabindex="-1" href="#">ONGOING <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in ongoing_residential %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                    </li>
                                                    <li class="dropp2"><a tabindex="-1" href="#">UPCOMING <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in upcoming_residential %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropp">
                                                <a href="#projects-one.html">Commercial <span style='font-size:20px;'>&#8677;</span></a>
                                                <ul class="dropdown-menu-dropdown-toggle">
                                                    <li class="dropp2">
                                                        <a tabindex="-1" href="#">COMPLETED <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in completed_commercial %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                        
                                                    </li>
                                                    <li class="dropp2"><a tabindex="-1" href="#">ONGOING <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in ongoing_commercial %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                    </li>
                                                    <li class="dropp2"><a tabindex="-1" href="#">UPCOMING <span style='font-size:20px;'>&#8677;</span></a>
                                                        <ul class="dropdown-menu-dropdown-toggle2">    
                                                            {% for project in upcoming_commercial %}
                                                            <li><a tabindex="-1" href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                        {% endfor %}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            {% comment %} <li><a href="projects-three.html">Upcoming</a></li> {% endcomment %}
                                        </ul>
                                    </li>
                                    <li><a href="#">BLOG</a></li>
                                    <li><a href="/contact">CONTACT</a></li>
                                    <li class="dropp3"><a href="#">LOAN</a>
                                        <ul class="dropdown1">    
                                            <li><a tabindex="-1" href="/calc">EMI CALCULATOR</a></li>
                                            <li><a tabindex="-1" href="/document">LOAN DOCUMENTS</a></li>
                                            <li><a tabindex="-1" href="/finance" target="_blank">BANKS RELATED INFO.</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li><a href="/">HOME</a></li>
                                        <li><a href="/about">ABOUT</a></li>
                                        <li><a href="#">SERVICES</a></li>
                                        <li><a href="/gallery">GALLERY</a></li>
                                        <li><a href="#">PROJECT</a>
                                            <ul>
                                                <li><a href="#projects-one.html">INDUSTRIAL</a>
                                                    <ul>
                                                        <li><a href="#">COMPLETED</a>
                                                            <ul>
                                                                {% for project in completed_industrial %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">ONGOING</a>
                                                            <ul>
                                                                {% for project in ongoing_industrial %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">UPCOMING</a>
                                                            <ul>
                                                                {% for project in upcoming_industrial %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                
                                                <li><a href="#projects-two.html">RESIDENTIAL</a>
                                                    <ul>
                                                        <li><a href="#">COMPLETED</a>
                                                            <ul>
                                                                {% for project in completed_residential %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">ONGOING</a>
                                                            <ul>
                                                                {% for project in ongoing_residential %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">UPCOMING</a>
                                                            <ul>
                                                                {% for project in upcoming_residential %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a href="#projects-two.html">COMMERCIAL</a>
                                                    <ul>
                                                        <li><a href="#">COMPLETED</a>
                                                            <ul>
                                                                {% for project in completed_commercial %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">ONGOING</a>
                                                            <ul>
                                                                {% for project in ongoing_commercial %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">UPCOMING</a>
                                                            <ul>
                                                                {% for project in upcoming_commercial %}
                                                                    <li><a href="{% url 'construction:project_detail' pk=project.id %}">{{ project.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                
                                                {% comment %} <li><a href="projects-three.html">Upcoming</a></li> {% endcomment %}
                                            </ul>
                                        </li>
                                        <li><a href="#blog">BLOG</a>
                                        <li><a href="/contact">CONTACT</a></li>
                                        <li><a href="#">LOAN</a>
                                            <ul>    
                                                <li><a tabindex="-1" href="/calc">EMI CALCULATOR</a></li>
                                                <li><a tabindex="-1" href="/document">LOAN DOCUMENTS</a></li>
                                                <li><a tabindex="-1" href="/finance">BANKS RELATED INFO.</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div> 
                        </div>
                        <div class="col-md-2 col-sm-6 hidden-xs">
                            <div class="htc__header__search">
                                <input type="text" placeholder="SEARCH">
                                <a href="#"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </div>
        <!-- End Header Style -->


        {% block body %}
        {% endblock body %}

    <!-- Start Contact Address -->
    <div class="htc__contact__address add-res bg__cat--1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="htc__contact__wrap clearfix">
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon map-pin">
                                <i class="zmdi zmdi-pin"></i>
                            </div>
                            <div class="ht__address__details">
                                <p>Mumbai <br>Maharashtra, INDIA</p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon glob">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <div class="ht__address__details">
                                <p><a href="#">info@example.com</a></p>
                                <p><a href="#">www.example.com</a></p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                        <!-- Start Single Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="ht__address__details">
                                <p><a href="#">+91 8888888888</a></p>
                                <p><a href="#">+91 9999999999</a></p>
                            </div>
                        </div>
                        <!-- End Single Address -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Address -->
    <!-- Start Footer Area -->
    <footer class="htc__footer__area">
        <div class="footer__top ptb--130" data--1f2d30__overlay="9.5" style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat fixed center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="htc__footer__wrap clearfix">
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="footer foo">
                                <div class="footer__widget">
                                    <h2 class="ft__title">ABOUT</h2>
                                </div>
                                <div class="ft__details">
                                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized On the other hand, we denounce </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 xmt-40">
                            <div class="footer quick__link foo">
                                <div class="footer__widget">
                                    <h2 class="ft__title">QUICK LINKS</h2>
                                </div>
                                <div class="footer__link">
                                    <ul class="ft__menu">
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="projects-one.html">Projects</a></li>
                                        
                                        <li><a href="blog.html">blog</a></li>
                                    </ul>
                                    <ul class="ft__menu">
                                        <li><a href="#">Quote</a></li>

                                        <li><a href="{% url 'construction:contact' %}">Contact</a></li>
                                        <li><a href="#">Features</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 smt-40 xmt-40">
                            <div class="footer foo">
                                <div class="footer__widget">
                                    <h2 class="ft__title">INSTAGRAM</h2>
                                </div>
                                <ul class="footer__instagram">
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/1.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/2.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/3.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/4.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/5.jpg' %}" alt="images"></a></li>
                                    <li><a href="#"><img src="{% static 'construction/images/blog/sm-img/6.jpg' %}" alt="images"></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-3 col-lg-2 col-lg-offset-1 col-sm-6 col-xs-12 smt-40 xmt-40">
                            <div class="footer foo">
                                <div class="footer__widget">
                                    <h2 class="ft__title">INQUARY</h2>
                                    <div class="footer__link">
                                        <ul class="ft__menu">
                                            <li><a href="#">Construction</a></li>
                                            <li><a href="#">Architecture</a></li>
                                            <li><a href="#">Plambing</a></li>
                                            <li><a href="#">Plambing</a></li>
                                        </ul>
                                        <ul class="ft__menu">
                                            <li><a href="#">Painting</a></li>
                                            <li><a href="#">Roofing</a></li>
                                            <li><a href="#">Plambing</a></li>
                                            <li><a href="#">Features</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright bg__theme">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyright__inner">
                            <p>Copyright <a href="#" target="_blank">PS CONSTRUCTION</a>
                            All Rights Reserved 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="{% static 'construction/js/vendor/jquery-1.12.0.min.js' %}"></script>
<!-- Bootstrap framework js -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><!-- All js plugins included in this file. -->
<script src="{% static 'construction/js/plugins.js' %}"></script>
<script src="{% static 'construction/js/slick.min.js' %}"></script>
<script src="{% static 'construction/js/owl.carousel.min.js' %}"></script>
<!-- Waypoints.min.js. -->
<script src="{% static 'construction/js/waypoints.min.js' %}"></script>
<!-- Main js file that contains all jQuery plugins activation. -->
<script src="{% static 'construction/js/main.js' %}"></script>
</body>
</html>        
