{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}
        <!-- Start Latest Project Area -->
        <section class="htc__latest__project__area ptb--150 bg__white">
            <div class="container-fluid">
                <div class="row">
                    <div class="htc__latest__project__wrap clearfix mt--60">
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/1.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/2.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/3.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/5.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/6.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/6.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/7.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/8.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/7.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/10.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/11.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/10.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/10.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/14.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/15.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                        <!-- Start Single Project -->
                        <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                            <div class="project foo">
                                <div class="project__thumb">
                                    <a href="/single-project">
                                        <img src="{% static 'construction/images/latest-project/16.jpg' %}" alt="project images">
                                    </a>
                                    <div class="project__hover__info">
                                        <div class="project__action">
                                            <h2><a href="/single-project">CONSTRUCTION</a></h2>
                                            <h4>DURATION : 6 MONTH</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Project -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Latest Project Area -->
        {% endblock body %}