{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}
        <!-- Start Offer Area -->
        <section class="htc__offer__area ptb--150 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                        <div class="offer">
                            <div class="offer__icon">
                                <img src="{% static 'construction/images/others/icon-2/1.png'%}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">TOP RATED</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                        <div class="offer separator">
                            <div class="offer__icon">
                                <img src="{% static 'construction/images/others/icon-2/2.png'%}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">BEST QUALITY</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">
                        <div class="offer separator">
                            <div class="offer__icon">
                                <img src="{% static 'construction/images/others/icon-2/3.png'%}" alt="icon images">
                            </div>
                            <div class="offer__details">
                                <h2><a href="#">LOW COST</a></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Offer Area -->
        <!-- Start Service Area -->
        <section class="htc__service__area service__page bg__gray ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">OUR <span class="text--theme">SERVICES</span></h2>
                            <p>Building dreams, transforming spaces, and designing the future. Our services go beyond construction, renovation, and architecture – we craft experiences that stand the test of time.</p>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="service__section__wrap clearfix">
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="service foo">
                                <div class="service__thumb">
                                    <a href="{% url 'construction:contact' %}">
                                        <img src="{% static 'construction/images/service/1.jpg'%}" alt="service images">
                                    </a>
                                    <div class="service__hover">
                                        <div class="service__action">
                                            <a href="{% url 'construction:contact' %}">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="service__details">
                                    <h2><a href="{% url 'construction:contact' %}">CONSTRUCTION</a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="service foo">
                                <div class="service__thumb">
                                    <a href="{% url 'construction:contact' %}">
                                        <img src="{% static 'construction/images/service/2.jpg'%}" alt="service images">
                                    </a>
                                    <div class="service__hover">
                                        <div class="service__action">
                                            <a href="{% url 'construction:contact' %}">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="service__details">
                                    <h2><a href="{% url 'construction:contact' %}">RENOVATION</a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="service foo">
                                <div class="service__thumb">
                                    <a href="{% url 'construction:contact' %}">
                                        <img src="{% static 'construction/images/service/3.jpg'%}" alt="service images">
                                    </a>
                                    <div class="service__hover">
                                        <div class="service__action">
                                            <a href="{% url 'construction:contact' %}">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="service__details">
                                    <h2><a href="{% url 'construction:contact' %}">ARCHITECTURE</a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        
                        
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- End Service Area -->
        <!-- Start Testimonial Area -->
        <section class="htc__testimonial__area ptb--130 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">
                        <div class="htc__testimonial__wrap">
                            <div class="section__title text-left">
                                <h2 class="title__line">CLIENTS <span class="text--theme">SAYS</span></h2>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasur</p>
                            </div>
                            <div class="testimonial__activation clearfix">
                                 <!-- Start Single Testimonial -->
                                <div class="testimonial">
                                    <div class="testimonial__thumb">
                                         <img src="{% static 'construction/images/test/client/1.jpg'%}" alt="clint image">
                                    </div>
                                    <div class="testimonial__details">
                                        <div class="tes__icon">
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <p>On the other hand, we denounce with righteous indignation and the tdislike men who are beguiled </p>
                                        <h2><a href="#">Ken Williams</a></h2>
                                        <h4>CEO, Alves</h4>
                                    </div>
                                </div>
                                 <!-- End Single Testimonial -->
                                 <!-- Start Single Testimonial -->
                                <div class="testimonial">
                                    <div class="testimonial__thumb">
                                         <img src="{% static 'construction/images/test/client/1.jpg'%}" alt="clint image">
                                    </div>
                                    <div class="testimonial__details">
                                        <div class="tes__icon">
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <p>On the other hand, we denounce with righteous indignation and the tdislike men who are beguiled </p>
                                        <h2><a href="#">Ken Williams</a></h2>
                                        <h4>CEO, Alves</h4>
                                    </div>
                                </div>
                                 <!-- End Single Testimonial -->
                                 <!-- Start Single Testimonial -->
                                <div class="testimonial">
                                    <div class="testimonial__thumb">
                                         <img src="{% static 'construction/images/test/client/1.jpg'%}" alt="clint image">
                                    </div>
                                    <div class="testimonial__details">
                                        <div class="tes__icon">
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <p>On the other hand, we denounce with righteous indignation and the tdislike men who are beguiled </p>
                                        <h2><a href="#">Ken Williams</a></h2>
                                        <h4>CEO, Alves</h4>
                                    </div>
                                </div>
                                 <!-- End Single Testimonial -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6  col-lg-offset-1 col-sm-12 col-xs-12 smt-40">
                        <div class="reguest__quote">
                            <div class="section__title text-left">
                                <h2 class="title__line">REQUEST A <span class="text--theme">QUOTE</span></h2>
                                <p>Unlock the potential of your vision. Request a quote today and let's turn your ideas into reality.</p>
                                <p>And for the button below it:</p>
                            </div>
                            
                                <div class="clint__comment__form">
                                    
                                    
                                    <div class="clint__submit__btn">
                                        <button class="submit htc__btn" onclick="redirectToContact()">
                                            Contact Us 
                                        </button>
                                    </div>
                                </div>
                            
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonial Area -->
        <!-- Start Newsletter Area -->

        <script>
            function redirectToContact() {
                window.location.href = "{% url 'construction:contact' %}";
            }
        </script>
        {% endblock body %}