{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" data--black__overlay="6" style="background: rgba(0, 0, 0, 0) url(images/bg/5.jpg) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">PROJECTS</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="index.html">Home</a>
                                  <span class="brd-separetor">-</span>
                                  <a class="breadcrumb-item" href="service.html">PROJECTS</a>
                                  <span class="brd-separetor">-</span>
                                  <span class="breadcrumb-item active">Single PROJECTS</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->

            <!-- Start Blog Area -->
            <section class="htc__project__details__page ptb--150 bg__white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <div class="htc__single__service">
                                <div class="htc__single__service__tab">
                                    <div class="ht-portfolio-pic-show">
                                        <div class="ht-portfolio-full-image tab-content">
                                            {% for image in project_images %}
                                                <div role="tabpanel" class="tab-pane fade {% if forloop.first %}in active{% endif %}" id="img-tab-{{ image.id }}">
                                                    <img src="{{ image.image.url }}" alt="full-image">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- Start Small images -->
                                    <div class="ht__service__small__image nav nav-tabs clearfix">
                                        <ul role="tablist" class="prodict-det-small  clearfix">
                                            {% for image in project_images %}
                                                <li role="presentation" class="pot-small-img img-tab-{{ image.id }} {% if forloop.first %}active{% endif %}">
                                                    <a href="#img-tab-{{ image.id }}" role="tab" data-toggle="tab">
                                                        <img src="{{ image.image.url }}" alt="small-image">
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <!-- End Small images -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="single__project__rightsidebar">
                                <!-- Start Single Item -->
                                <div class="pro__dtl__inner bg__gray">
                                    <h2>PROJECT DETAILS</h2>
                                    <div class="pro__dtl__content">
                                        <ul class="pro__dtl__list font__bold">
                                            <li>RERA No: {{ project.rera_no }}</li>
                                            <li>Amenities: {{ project.amenities }}</li>
                                            <li>Status: {{ project.get_status_display }}</li>
                                        </ul>
                                        <!-- You can add more project details here -->
                                    </div>
                                </div>
                                <!-- End Single Item -->
                                <!-- Start Single Item -->
                                <div class="download__project bg__gray">
                                    <h2><a href="{{ brochure_url }}" target="_blank">DOWNLOAD PROJECT BROCHURE</a></h2>
                                </div>
                                <!-- End Single Item -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="htc__pro__desc__container">
                                <!-- start Single Details -->
                                <div class="single__project__details">
                                    <h2>{{ project.title }}</h2>
                                    <p>{{ project.description }}</p>
                                </div>
                                <!-- End Single Details -->
        
                                <!-- start Single Details -->
                                <div class="single__project__details">
                                    <h2>PROJECT DESCRIPTION</h2>
                                    <p>{{ project.description }}</p>
                                </div>
                                <!-- End Single Details -->
        
                                <!-- start Single Details -->
                                <div class="single__project__details">
                                    <h2>IMPORTANT FACTS</h2>
                                    <p>{{ project.important_facts }}</p>
                                    <ul class="facts__list">
                                        {% for fact in project.additional_facts.all %}
                                            <li><a href="#"><i class="fa fa-angle-double-right"></i>{{ fact.text }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- End Single Details -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Blog Area -->
        

            {% endblock body %}