{% extends "construction/nav_footer.html" %}
{% load static %}
{% block body %}
        <!-- Start Blog Area -->
        <section class="htc__project__details__page ptb--150 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="htc__single__service">
                            <div class="htc__single__service__tab">
                                <div class="ht-portfolio-pic-show">
                                    <div class="ht-portfolio-full-image tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                                            <img src="{% static 'construction/images/blog/big-images/5.jpg'%}" alt="full-image">
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="img-tab-2">
                                            <img src="{% static 'construction/images/blog/big-images/5.jpg'%}" alt="full-image">
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="img-tab-3">
                                            <img src="{% static 'construction/images/blog/big-images/5.jpg'%}" alt="full-image">
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="img-tab-4">
                                            <img src="{% static 'construction/images/blog/big-images/5.jpg'%}" alt="full-image">
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Small images -->
                                <div class="ht__service__small__image nav nav-tabs clearfix">
                                    <ul role="tablist" class="prodict-det-small  clearfix">
                                        <li role="presentation" class="pot-small-img img-tab-1 active">
                                            <a href="#img-tab-1" role="tab" data-toggle="tab">
                                                <img src="{% static 'construction/images/service/small-img/1.jpg'%}" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img img-tab-2">
                                            <a href="#img-tab-2" role="tab" data-toggle="tab">
                                                <img src="{% static 'construction/images/service/small-img/2.jpg'%}" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img img-tab-3">
                                            <a href="#img-tab-3" role="tab" data-toggle="tab">
                                                <img src="{% static 'construction/images/service/small-img/3.jpg'%}" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img img-tab-4">
                                            <a href="#img-tab-4" role="tab" data-toggle="tab">
                                                <img src="{% static 'construction/images/service/small-img/4.jpg'%}" alt="small-image">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Small images --> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="single__project__rightsidebar">
                            <!-- Start Single Item -->
                            <div class="pro__dtl__inner bg__gray">
                                <h2>PROJECT DETAILS</h2>
                                <div class="pro__dtl__content">
                                    <ul class="pro__dtl__list font__bold">
                                        <li>CLIENT :</li>
                                        <li>LOCATION :</li>
                                        <li>BUDGET :</li>
                                        <li>SURFCE AREA :</li>
                                        <li>SECTOR :</li>
                                    </ul>
                                    <ul class="pro__dtl__list">
                                        <li>Simplex Ltd.</li>
                                        <li>San Francisco</li>
                                        <li>$35,000</li>
                                        <li>4200 sf2</li>
                                        <li>CONSTRUCTION</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Start Single Item -->
                            <div class="download__project bg__gray">
                                <h2><a href="#">DOWNLOADPROJECT REPORT</a></h2>
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="htc__pro__desc__container">
                            <!-- start Single Details -->
                            <div class="single__project__details">
                                <h2>CONSTRUCTION</h2>
                                <p>On the other hand, we denounce with righteous tion and dislike men who are so beguiled demorad On the ther hand, we denounce with pain and trouble that re bound to ensue; and equal blame belongs to those ho fail in their sty through weakness of will, ch is the same as saying through shrinking from</p>
                            </div>
                            <!-- End Single Details -->
                            <!-- start Single Details -->
                            <div class="single__project__details">
                                <h2>PROJECT DESCRIPTION</h2>
                                <p>On the other hand, we denounce with righteous indignion and dislike men who are so beguiled demoralized On the er hand, we denounce with pain and trouble that are und to ensue; and ual blame belongs to those who win</p>
                                <p>On the other hand, we denounce with righteous indignion and dislike men who are so beguiled demoralized On the er hand, we denounce with pain</p>
                            </div>
                            <!-- End Single Details -->
                            <!-- start Single Details -->
                            <div class="single__project__details">
                                <h2>IMPORTANT FACTS</h2>
                                <p>On the other hand, we denounce with righteous an dion and dislike men who are so beguiled</p>
                                <ul class="facts__list">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>On the other hand, we denounce with rious indignion and dislike men who we are</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i>On the other hand, we denounce with rious indignion and dislike men who we are</a></li>
                                </ul>
                            </div>
                            <!-- End Single Details -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->
        <!-- Start Service Area -->
        <section class="htc__project__area bg__white pb--150">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">RELATED <span class="text--theme">PROJECTS</span></h2>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="rl__project__wrap clearfix mt--60 xmt-40">
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="rl__project foo">
                                <div class="project__thumb">
                                    <a href="single-project.html">
                                        <img src="{% static 'construction/images/lst-project-2/1.jpg'%}" alt="project images">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="rl__project foo">
                                <div class="project__thumb">
                                    <a href="single-project.html">
                                        <img src="{% static 'construction/images/lst-project-2/2.jpg'%}" alt="project images">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                            <div class="rl__project foo">
                                <div class="project__thumb">
                                    <a href="single-project.html">
                                        <img src="{% static 'construction/images/lst-project-2/3.jpg'%}" alt="project images">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                        <!-- Start Single Service -->
                        <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">
                            <div class="rl__project foo">
                                <div class="project__thumb">
                                    <a href="single-project.html">
                                        <img src="{% static 'construction/images/lst-project-2/4.jpg'%}" alt="project images">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Service Area -->
        {% endblock body %}